.App {
  font-family:'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.mainMenu, .canvasScreen {
  width: 1800px;
  height: 900px;
  border-radius: 10px;
  background-color: darksalmon;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.canvasToolbar {
  margin-top: -25px;
  margin-bottom: 10px;
}

.canvasToolbar label {
  margin: 5px;
}